.back-button {
    position: absolute;
    top: 16px;
    left: 0.5rem;
    z-index: 5;

    &__icon {
        color: #FF7F00;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 100%;

        svg {
            width: 24px;
            height: 24px;
        }
    }
}