html {
  overflow-y: hidden !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.button.is-multiline {
  min-height: 2.25em;
  white-space: unset;
  height: auto;
  flex-direction: column;
  border: none;
  background-color: transparent;
}

.button.is-multiline.is-active {
  color: #FF7F00;
}

.icon-text-time {
  font-feature-settings: "tnum";
}

.button-icon__right {
  position: absolute;
  right: 10px;
}

.button-icon__left {
  position: absolute;
  left: 10px;
}


.h-60 {
  height: 60px !important;
}

.h-80 {
  height: 80px !important;
}

.button.is-main {
  color: #FF7F00;
  background: black;
}

.button.is-boost.is-active {
  opacity: 1;
}

.icon.is-main-screen {
  font-size: 260px;
  width: 260px;
  height: 260px;
  user-select: none;
  touch-action: none;
}

.is-ticket {
  color: red;
}

.icon.is-energy {
  color: #f5f55c;
  font-size: 12px;
}

.container.is-energy {
  margin-bottom: -8px;
}


.is-diamond {
  color: #00ccff;
}

.kiss {
  animation: kiss 200ms;
}

@keyframes kiss {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

.icon.is-large {
  font-size: 48px;
}

.button.is-game {
  flex-direction: column;
}

.button.is-game .icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: white;
  margin-top: 6px;
  font-feature-settings: "tnum";
}

.button.is-game .icon.is-small {
  font-size: 16px;
  width: 16px;
  height: 16px;
}


.icon.is-ready  {
  animation: gradient 1000ms ease infinite alternate;
}

.icon.is-active  {
  animation: gradient 500ms ease infinite alternate;
}

@keyframes gradient {
  0% {
    color: white;
  }
  100% {
    color: green;
  }
}

.progress.experience {
  height: 8px;
  margin-top: 8px;
  margin-left: -1px;
  border-radius: 0;
}

.user-level {
  width: 26px;
  height: 26px;
  border-radius: 26px;
  text-align: center;
  background: rgb(171, 177, 191);
  color: black;
  z-index: 1;
}

.box.is-tasks {
  background: black;
  height: calc(100vh - 42px - 48px - 62px);
  overflow-y: auto;
}

li.is-disabled {
  pointer-events: none;
  cursor: default;
  background: black;
}

li.is-disabled > a {
  color: gray;
}

.point {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  pointer-events: none;
  animation: 1s ease-out alternate 0s flow;
  opacity: 1;
  color: #FF7F00;
  -webkit-text-stroke: 1px black;
}

.point.effect {
  left: 0;
  width: 100%;
  font-size: 50px;
  color: green;
  animation: 2s ease-out alternate 0s flow-2;
}

@keyframes flow-2 {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-200px);
    opacity: 0;
  }
}

@keyframes flow {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.fade-out {
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.content ul.is-unstyled {
  list-style: none;
  margin-left: 1em;
  margin-top: 0;
}

.message.is-fullwidth {
  width: 100%;
}

.hero-body.is-fullheight-withbutton {
  max-height: calc(100vh - 62px - 56px);
}

.hero-body.is-fullheight-withrank {
  height: calc(100vh - 62px - 66px);
}


.button.is-boost {
  width: 64px;
  height: 64px;
  padding-bottom: 0;
}

.button.is-boost.is-synced {
  opacity: 1; /* TODO: add delay opacity */
}

.subtitle.is-user {
  font-size: 16px;
}

.button.is-user {
  background: transparent;
  border: none;
  padding: 0;
}

.table td.gold {
  color: transparent;
  font-weight: bold;
  background-image: linear-gradient(to right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.boost_amount {
  position: absolute;
  font-size: 16px;
  right: 0;
  bottom: 0;
  background: #FF7F00;
  color: black;
  border-radius: 24px;
  width: 24px;
}

.beast-x {
  color: #FFACAC;
  box-shadow: 4vmin 100px 200px currentColor;
}

.hero-head {
  z-index: 1;
}

.beast {
  visibility: hidden;
}

.beast.is-active {
  visibility: visible;
}

tr.is-main {
  background: #222322;
}


.table thead tr th:nth-child(1) {
  width: 55px;
}

.table thead tr th:nth-child(3) {
  width: 55px;
}

.table thead tr th:nth-child(4) {
  width: 80px;
}