// Set your brand colors
$main: #FF7F00;

// Override Sass variables from the /form folder
@use "bulma/sass/form" with (
  $input-shadow: none
);

@use "bulma/sass/components/tabs" with (
  $tabs-toggle-link-active-background-color: #382e2e,
  $tabs-toggle-link-active-color: white,
  $tabs-toggle-link-active-border-color: $main,
);

@use "bulma/sass/elements/table" with (
  $table-cell-padding: 0.5em 0.5em,
);

@forward "bulma/sass";

// Import the components you need
//@forward "bulma/sass/base";
//@forward "bulma/sass/components/card";
//@forward "bulma/sass/components/modal";
//@forward "bulma/sass/components/navbar";
//@forward "bulma/sass/elements/button";
//@forward "bulma/sass/elements/icon";
//@forward "bulma/sass/elements/content";
//@forward "bulma/sass/elements/notification";
//@forward "bulma/sass/elements/progress";
//@forward "bulma/sass/elements/tag";
//@forward "bulma/sass/layout/footer";

// Import the themes so that all CSS variables have a value
@forward "bulma/sass/themes";

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");