@import "bulma.scss";
@import "app.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  touch-action: none;
}

.hero.is-main {
  background: rgb(20,22,26);
  background: linear-gradient(180deg, rgba(20,22,26,1) 0%, rgba(32,34,38,1) 35%, rgba(17,16,15,1) 100%);
}

.title.is-main {
  color: #FF7F00;
}